<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Blogs</title>
  </head>
  <body>
    <div class="navBar">
      <h1>Blogs</h1>
      <form style="align-content: center" action="/writeBlogPage" method="POST">
        <button class="button navButton" type="submit">Write New Blog</button>
      </form>
    </div>
  </body>
</html>
